
.auteurs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    max-width: 900px;
    margin: 50px auto;
    background-color: #fffcf7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
}
.auteurs h1{
    text-align: center;
    font-size: 2em;
    color: #389898;
    margin-bottom: 20px;
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
}

.auteur-item {
    flex: 1 1 45%;              /* Ajuste la largeur pour éviter que les éléments ne passent en dessous */
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;    
}

.auteur-item h3 {
    color: #c0392b;
    font-size: 1.5em;
}

.auteur-item p {
    text-align: justify;
    color: #444;
}
