
footer {
    background-color: var(--couleur-principale);
    color: var(--couleur-texte-clair);
    padding: 5px 5px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    height: 35px;
    margin-right: 10px;
}